@page "/debug"

<div>
    <h1>Debug</h1>

    <button @onclick="@(() => Http.PostAsync("/hiddengame/newplayer", null))">New player</button>
    <button @onclick="@(() => Http.PostAsync("/hiddengame/advanceturn", null))">Advance turn</button>
    <button @onclick="@(async () => await Firebase.SignIn())">Firebase SignIn</button>
    <button @onclick="@(() => FirebaseTest())">Firebase subscribe</button>
    <button @onclick="@(async () => await JS.Alert(await Firebase.GetIdToken()))">Firebase get IdToken</button>
</div>

@code {
    async void FirebaseTest() {
        await Firebase.Subscribe("userCount/data", async (id, data) => {
            Console.WriteLine(data);
            await Firebase.Unsubscribe(id);
        });
    }
}