@page "/rooms"

<div class="Rooms">
    <div class="Room Training" @onclick="ButtonTraining">
        <span>@L["texts.modeNames.training"]</span>
        <span>@L["texts.menu.userCount"].Replace("{{count}}", UserCount.Training.ToString())</span>
        <span>@L["texts.modeDescriptions.training"]</span>
    </div>
    <div class="Room Hidden" @onclick="ButtonHidden">
        <span>@L["texts.modeNames.hidden"]</span>
        <span>@L["texts.menu.userCount"].Replace("{{count}}", UserCount.Hidden.ToString())</span>
        <span>@L["texts.modeDescriptions.hidden"]</span>
    </div>
    <div class="Room Duel" @onclick="ButtonDuel">
        <span>@L["texts.modeNames.duel"]</span>
        <span>@L["texts.menu.userCount"].Replace("{{count}}", UserCount.Duel.ToString())</span>
        <span>@L["texts.modeDescriptions.duel"]</span>
    </div>
</div>

<div class="RoomPassword" style="display: @(IsShowingRoomPassword ? "inherit" : "none")">
    <div>
        <span>@L["texts.menu.roomPassword"]</span>
        <input type="text" @bind="RoomPassword" />
        <div @onclick="ButtonRoomPassword">@L["texts.menu.setRoomPassword"]</div>
    </div>
</div>

@code {
    UserCount UserCount = new() { Duel = -1, Hidden = -1, Training = -1 };
    bool IsShowingRoomPassword = false;
    string RoomPassword = string.Empty;

    protected override async Task OnInitializedAsync() {
        RoomPassword = AppState.RoomPassword;
        try {
            UserCount = await Api.GetUserCount();
        } catch {
            await Api.Refresh();
            UserCount = await Api.GetUserCount();
        }
        // await JS.Alert(System.Text.Json.JsonSerializer.Serialize(UserCount));
        StateHasChanged();
    }

        protected override async Task OnAfterRenderAsync(bool firstRender) {
            if (firstRender) await JS.SetBackgroundImage(JS.GetElementByClassName("Content"), new(Resources.GetResource("images.screens.menu.png")!));
        }

        async Task ButtonTraining() {
        await JS.PlayAudio(new(Resources.GetResource("audio.click.mp3")!));
        Navigation.NavigateTo("/rooms/training");
    }

    async Task ButtonHidden() {
        await JS.PlayAudio(new(Resources.GetResource("audio.click.mp3")!));
        IsShowingRoomPassword = true;
    }

    async Task ButtonDuel() {
        await JS.PlayAudio(new(Resources.GetResource("audio.click.mp3")!));
        Navigation.NavigateTo("/rooms/duel");
    }

    async Task ButtonRoomPassword() {
        await JS.PlayAudio(new(Resources.GetResource("audio.click.mp3")!));
        AppState.RoomPassword = RoomPassword;
        if (string.IsNullOrEmpty(AppState.RoomPassword)) return;
        Navigation.NavigateTo("/rooms/hidden");
    }
}